*{
    box-sizing: border-box;
}
body{
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Maven Pro', sans-serif;
    background-image: url('../img/bg-0.jpg');
    height: 100vh;
    box-shadow: inset 0 0 250px 50px rgba(0, 0, 0, 0.7);
    height: auto;
    min-height: 100vh;
    transition-property: background-image;
    transition-duration: .5s;
}

.uk-radio{border: 1px solid #716862;}
.uk-radio:checked,
.uk-checkbox:checked,
.uk-checkbox:indeterminate,
.uk-radio:focus,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus,
.uk-radio:checked:focus {background-color: #463d36;}
.uk-fieldset{
    border-bottom: 1px solid #a09b98;
}

.rel{position: relative;}
.mb{margin-bottom: 20px;}
.mb-small{margin-bottom: 10px;}
.option-cont{
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 1030;
}
.option-cont li{font-size: 1rem}
.option-cont a.muted{
    background-color: inherit;
    color: #dedede;
}
#options .icn{padding-right: 5px;}

.uk-notification{text-align: center;}

h1,
p.title{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: #ff662e;
    text-decoration: underline;
    text-shadow: 6px 6px 4px rgb(19, 8, 1);
}
p.no-shadow{text-shadow: inherit;}
p.title{padding-right: 2px;}
h3 span{
    font-size: 1.5rem;
    margin: 5px 0 15px;
}
.uk-heading-line>::after,
.uk-heading-line>::before{border-bottom: 1px solid #716862;}

.main-content{
    padding-bottom: 50px;
}

/* BUTTON */
.btn{
    padding: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    text-transform: none;
    border: 0;
    background-color: #ece4dc;
    border: 1px solid #a09b98;
    border-radius: 10px;
    transition: all .3s ease;
}
.btn.pad{padding: 0 30px;}
.btn:hover:not(.select){
    background-color: #ed792e;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    border-color: transparent;
    color: #fff;
    -webkit-animation-name: none;
    animation-name: none;
}
.btn.select{
    background-color: #ed792e;
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.3), Direction=NaN, Strength=4);
}

.muted{
    pointer-events:none;
    background-color: rgba(0, 0, 0, 0.3);
}
.muted img{
    opacity: .3;
}
.modal-btn-close{
    background-color: #463d36;
    border-radius: 20px;
    display: none;
}
#jvj,
#ai{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    text-transform: none;
}
#aiLevel{opacity: .25;}
#aiLevel.select{opacity: 1;}
#aiLevel:not(.select) .btn:hover{
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-color: inherit;
}
.playBtn{
    border-radius: 10px;
    background-color: #463d36;
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    padding: 0 50px;
    border: 0;
    transition: all .3s ease;
}
.playBtn:hover{
    background-color: #fff;
    color: #463d36;
    background-color: #94d2e8;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
    -webkit-animation-name: none;
    animation-name: none;
}
.playBtn.muted{
    background-color: #9d9d9d;
}
#options{display: none;}

/* MODAL */
.modal-cont,
.modal-cont .header,
.modal-cont .uk-modal-footer{
    border-radius: 15px;
    background-color: #988f88;
}
.modal-cont .header{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
    border: 0;
}
#modal-title p.title{
    margin-bottom: 40px;
    text-shadow: 2px 4px 4px rgba(19, 8, 1, 0.3);
}
#modal-title .player{
    width: 50%;
    margin: 0 auto;
}
.modal-cont h2{border-bottom: 1px solid #716862;}
.modal-cont .img-p1,
.modal-cont .img-p2,
.modal-cont .img-bg{
    padding: 3px;
    border-radius: 10px;
}
.modal-cont .uk-modal-footer{
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
}
.modal-cont .footer{
    padding-top: 15px;
    border-top: 1px solid #716862;
}
.uk-tooltip{
    padding: 10px;
    font-size: .85rem;
}
#gridBg img{
    border-radius: 10px;
}

#pName1,
#pName2{
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid #a09b98;
}
.players{
    background-color: rgba(222, 208, 198, 0.37);
    padding: 20px;
    border-radius: 10px;
}
.player{
    background-color: #e0d4cb;
    border-radius: 15px;
    padding: 10px;
}
.token-cont{
    border-top: 1px solid #a09b98;
    margin-top: 10px;
    padding-top: 15px;
}
#gridBg img,
.token-cont img{vertical-align: middle;}
/* .token-title{
    padding-bottom: 10px;
} */
.ai-cont{
    position: relative;
}
.ai-level{
    position: absolute;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    transform: translate(calc(50% - 64px), 50%) scale(0);
    z-index: 1020;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .5s ease;
}
/*.ai-level p.title,
.ai-level button{font-size: 0;}
.ai-level.open p.title{font-size: 70px;}
.ai-level.open button{font-size: 20px;} */
.ai-level.open{
    opacity: 1;
    transform: translate(calc(50% - 64px), 50%) scale(1);
}
div[id*='modal'] .uk-inline{
    width: 100%;
}
div[id*='modal'] .player-name1,
div[id*='modal'] .player-name2,
div[id*='modal'] .choose-bg{
    padding-left: 50px;
    font-size: 25px;
    line-height: 40px;
}
#modal-screen-menu .no-icon::before{
    display: none;
}

/* HEADER */
.grid{
    background-image: url('../img/grid-4.png');
    background-size: contain;
}


/* MENU */







/* SECTIONS */
.title-game{
    padding: 30px;
    width: 50%;
}

.cont-case{
    background-image: url('../img/wood.jpg');
    background-size: contain;
    padding: 30px;
    border-width:5px;
    border-style:outset;
    border-radius: 10px;
    border-color: rgba(52, 25, 4, 0.7);
    box-shadow: 3px 5px 20px 7px rgba(0, 0, 0, 0.70);
}
.in-line{
    display: inline-block;
    font-size: 0;
    padding: 2px;
    border-radius: 10px;
    box-shadow: inset 3px 5px 20px 6px rgba(29, 8, 1, 0.7);
}
.in-line img{
    width: calc(33% + 0.3%);
    border-style: solid;
    border-color: #422a0f;
    border-width: 2px;
    /* background-color: #66569a; */
}
.in-line img.last{
    margin-right: 0;
}
.in-line img[data-pos = "tl"],
.in-line img[data-pos = "tm"],
.in-line img[data-pos = "tr"]{
    border-top: 2px solid transparent;
}
.in-line img[data-pos = "bl"],
.in-line img[data-pos = "bm"],
.in-line img[data-pos = "br"]{
    border-bottom: 2px solid transparent;
}
.in-line img[data-pos = "tl"],
.in-line img[data-pos = "ml"],
.in-line img[data-pos = "bl"]{
    border-left: 2px solid transparent;
}
.in-line img[data-pos = "tr"],
.in-line img[data-pos = "mr"],
.in-line img[data-pos = "br"]{
    border-right: 2px solid transparent;
}

.in-line img.no-mb{margin-bottom: 0;}

#card1,
#card2{transition: all .7s ease}

.card-player{
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.7);
}
.player-item{
    padding: 20px 10px;
}

.player-name1,
.player-name2,
.choose-bg{
    word-wrap: break-word;
    font-family: 'Bree Serif', serif;
}
.score-title{
    font-size: 20px;
}
#pScore1,
#pScore2{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}

#modal-win{
    text-align: center;
    font-family: 'Pacifico', cursive;
}
#modal-win .uk-modal-dialog{
    padding: 50px;
    font-size: 70px;
    color: #ff662e;
    line-height: 95px;
    border-radius: 15px;
}
#winPlayer{
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    color: #666;
}

/* ARTICLE */



/* FOOTER */

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
.bounce-play{
    -webkit-animation-name: bounce-play;
    animation-name: bounce-play;
}
.bounce,
.bounce-play{
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    from,
    20%,
    to{background-color: #ece4dc;}

    40%,
    85%{
        background-color: #ffffff;
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -1.5px, 0);
        transform: translate3d(0, -1.5px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background-color: #ece4dc;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
        -o-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        -o-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        background-color: #ffffff;
    }
}
@keyframes bounce-play {
    from,
    20%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background-color: #463d36;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
        -o-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        -o-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
        background-color: #544a41;
    }
}
